# Local standalone Group 2 demo
VITE_DEV_API_PROXY=http://127.0.0.1:5000

# Integrated microservices demo through API Gateway
# VITE_DEV_API_PROXY=http://160.250.132.117:5000
# VITE_API_URL=http://160.250.132.117:5000
# VITE_USER_API_URL=http://127.0.0.1:8083/api

